node_modules
jspm_packages/
.npm
.eslintcache
build
endpoints.md
.DS_Store
uploads
AUTOMATCH.md
idea.ts
automatch.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
